body{
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}
ul{
    display: flex;
}
nav{
    margin: 3% 7%;
}
nav ul li {
    margin-top: -30px;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}
nav ul li a{
    /* background-color:  rgb(14,46,38); */
    font-weight: 950;
    margin: 10px;
    padding: 15px;
    /* padding: 0px 14px 0px 14px; */
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #000;
}
a:hover{
    color: rgb(204, 5, 171);
}
#logo{
    margin-top: -50px;
    background-color: rgb(164, 207, 199);
    padding-top: 5px;
    padding-bottom: 10px;
}
h1{
    margin: -2.8% 7% 4% 7%;
    font-size: 25px;
    color:rgb(60, 236, 192);
}
span{
    color: rgb(218, 34, 224);
    font-size: 30px;
}
  .note{
    display: flex;
    margin: 21% 10% 0% 15%;
    font-family: sans-serif;
    padding-right: 50px;
}

  .note h1{
      background-color:  rgb(164, 207, 199);
      font-size: 19px;
      color: #000;
      border-radius: 15px;
      border: none;
      margin: 75px 0px 10px 600px;
      padding: 20px;
  } 
  .note h1 a{
    text-decoration: none;
    
  }
.jeep img{
    height: 500px;
    padding-top: 50px;
   margin: -200px 0px 0px 90px;
}
.sec-one{
    background-image: url("Gif.gif");
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-top: -10px;
    height: 500px;
}
.column1{
    display: flex;
}

 .does h5{
     color: #fff;
     font-size: 47px;
     padding-left: 7%;
 }
 .does h3{
    color: #fff;
    font-size: 19px;
    margin-left: 58.5%;
    display: flex;
    margin-right: 10%;
    margin-top: -10%;
 }
 .sec-two{
    background-color: rgb(39, 38, 38);
    padding-top: 2%; 
    padding-bottom: 5%;
 }
 .row1 a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
 }
 .row2 a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
 }
 .row1 h5 img{
    margin: -20px -15px;
 }
 .row1 .box1a{
    margin-left: 7%;
    margin-top: 3%;
 }
 .row1 .box1b{
    margin-left: 7%;
    margin-top: 3%;
 }

 .row1{
     display: flex;
 }
 .row2 .box2a{
    margin-left: 7%;
    margin-top: 3%;
 }
 .row2 .box2b{
    margin-left: 7%;
    margin-top: 3%;
 }

 .row2{
     display: flex;
 }
 .row2 h5 img{
    margin: -20px -15px;
 }
 .sec-three{
     padding-top: 7%;
     display: flex;
     background-image: url("Sspider.jpg");
     background-position: cover;
     background-repeat: no-repeat;
 }
 .best-vet{
     height: 530px;
     width: 900px; 
     margin-left: 7%;
     border: 2px solid;
     border: none;
     border-radius: 13px;
 }
 .best-vet h1{
    background-color: rgb(10, 73, 57);
    opacity: 0.4;
    color: #fff;
    font-size: 50px;
    margin-left: 25%;
    margin-right: -10%;
    margin-top: -20px;
    text-align: center;
 } 
 .best-vet h4{
    color: rgb(1, 1, 10);
    font-size: 17px;
    margin:30px 0px -50px 35%;
    background: #fbfcfc;
    padding: 30px;
    opacity: 0.7;
 } 
 .best-vet button{
    padding: 1.8% 5%;
      background-color: #00a3a3;
      font-size: 19px;
      color: #e7feff;
      border-radius: 15px;
      border: none;
      margin: 100px 0px 0px 50%;
 }
 .sec-four{
     padding-top: 2%;
     background-color: rgb(39, 38, 38);
 }
 .sec-four h5{
    font-size: 30px;
    color: #000;
 }
 .said h5{
    margin: -70px 0px 0px 50px;
    color: #fff;
    font-size: 45px;
}
.said h3{
   color: #fff;
   font-size: 19px;
   display: flex;
   margin:-9% 0% 0px 60%;
}
.said h3 span a{
    color:  #00a3a3;
    text-decoration: none;
}
.said h3 span a :hover{
    color: #e7feff;
}


.row3{
    display: flex;
    padding-bottom: 10%;
}
.row3 .box3a{
    height: 510px;
    width: 699px; 
    margin-right: 0.1%;
    margin-top: 1%;
    border: 2px solid;
    background-color: rgb(164, 207, 199);
    border: none;
 }
 .row3 .box3b{
    height: 510px;
    width: 699px; 
    margin-left: 0.1%;
    margin-top: 1%;
    border: 2px solid;
    background-color: rgb(164, 207, 199);
    border: none;
 }
 
 .best-vet a{
    text-decoration: none;
    color: #fff;
 }


.box3a h4{
    font-size: 20px;
    margin: 45px 0px 0px 50px;
    color: rgb(142, 140, 148);
 }
 .box3b h4{
    font-size: 20px;
    margin: 45px 0px 0px 50px;
    color: rgb(142, 140, 148);
 }
 .box3a h5{
    margin: 30px 0px 0px 95px;
 }
 .box3b h5{
    margin: 30px 0px 0px 95px;
 }


 .footer{
    display: flex;
} 
.foot4{
    padding-left: 17%;
    font-size: 10px;
}
.foot3{
    padding-left: 16%;
    font-size: 10px;
}
.foot2{
    padding-left: 14%;
    font-size: 10px;
}
.foot1{
    padding-left: 7%;
    font-size: 10px;
}
.footer h1{
    font-size: 20px;
}
.foot1 h1{
    margin-left: 0%;
}
.icons{
    display: flex;
}
.footer button{
    border: none;
    border-radius: 15px;
}
.fa-facebook{
    color: rgb(237, 237, 243);
    background-color: rgb(73, 73, 207);
    border: 1px solid;
    padding: 3%;
    border-radius: 85px;
}
.fa-twitter{
    color: rgb(237, 237, 243);
    background-color: rgb(73, 176, 207);
    border: 1px solid;
    padding: 3%;
    border-radius: 85px;
}
.fa-google-plus{
    color: rgb(243, 237, 237);
    background-color: rgb(218, 27, 21);
    border: 1px solid;
    padding: 3%;
    border-radius: 85px;
}
.fa-linkedin{
    color: rgb(237, 237, 243);
    background-color: rgb(7, 7, 83);
    border: 1px solid;
    padding: 3%;
    border-radius: 85px;
}